*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore build directories
build-arm64-v8a/
build-x86_64/
build-*/
build-arm64-v8a/


# Android / Gradle
/app/build/
/*.iml
/.gradle/
/local.properties

# CMake / build
/build-*/
CMakeFiles/
/CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.a
*.so

build*/
**/build-*/