<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.welthungerhilfe.cgm.scanner">

    <!-- for AR functionality -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Storage access -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Location access -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- sync data -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- push notification -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- contact support -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--for foreground service-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!--for wifi state change-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--for internet-->
    <uses-permission android:name="android.permission.INTERNET" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="${arCameraRequired}" />
    <uses-feature
        android:name="com.google.ar.core.depth"
        android:required="${depthCameraRequired}" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.google.ar.core"
            android:value="${arcoreValue}" />
        <meta-data
            android:name="com.huawei.ar.engine"
            android:value="${arengineValue}" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="{GOOGLE_MAPS_KEY}" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <activity android:name=".ui.activities.BaseActivity" />


        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.LoginActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.DeviceCheckActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.TutorialActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.QRScanActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.CreateDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activities.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activities.LocationSearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.LocationDetectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.SettingsRemoteConfigActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.SettingsPerformanceActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.ScanModeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activities.UploadManagerActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                    Add in your scheme/host from registered redirect URI
                    note that the leading "/" is required for android:path
                -->
                <data
                    android:host="de.welthungerhilfe.cgm.scanner"
                    android:path="{OAUTH_PATH}"
                    android:scheme="msauth" />
            </intent-filter>
        </activity>

        <service
            android:name=".network.service.UploadService"
            android:exported="false" />

        <service
            android:name=".network.service.DeviceService"
            android:exported="false" />

        <service
            android:name=".network.authenticator.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".network.syncdata.StubProvider"
            android:authorities="de.welthungerhilfe.cgm.scanner"
            android:exported="false"
            android:syncable="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <receiver
            android:name=".network.syncdata.WifiStateChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".network.service.WifiStateChangereceiverHelperService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
